body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f9ff;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 100px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input[type="text"],
input[type="number"] {
  width: 80%;
  padding: 10px;
  margin: 15px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button, .donate-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
}

button:hover, .donate-btn:hover {
  background-color: #0056b3;
}

.genuine {
  color: green;
  font-weight: bold;
}

.fake {
  color: red;
  font-weight: bold;
}

.unknown {
  color: orange;
  font-style: italic;
}

.success {
  color: green;
  margin-top: 20px;
  font-weight: bold;
}
.address {
  overflow-x: auto;
  white-space: nowrap;
  font-family: monospace;
  font-size: 14px;
  background: #f9f9f9;
  padding: 8px;
  border-radius: 4px;
}

.back-btn {
  display: inline-block;
  width: auto; /* убираем 100% ширину */
  padding: 8px 16px;
  font-size: 14px;
  background: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 15px;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 35px;
  margin-left: 670px;
}

.back-btn:hover {
  background: #2980b9;
}

